    .page {
        overflow-y: scroll;
        background-color:rgb(74,110,222);
      }
      .page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding: 20px;
      }
      
      .box {
        width: 300px;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      .rentals-about h1,
      .jobs-about h1,
      .community-about h1 {
        margin: 0;
      }
      
      .rentals-about p,
      .jobs-about p,
      .community-about p {
        margin-top: 10px;
      }
      