    /* .page {
        overflow-y: scroll;
        background-color:rgb(74,110,222);
        height: 100vh;
     
      } */

      
      .page {
        display: flex;
        flex-direction: column;
      }
      
      .box {
        margin: 5%;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;      }
      
        .rentals-about {
          align-self: flex-start;
          margin-right: 20px;
          background-color: white;
          width: 50%;
        }
        
        .jobs-about {
          align-self: flex-end;
          margin-left: 20px;
          background-color: white;
          width: 50%;
        }
        
        .community-about {
          align-self: flex-start;
          margin-right: 20px;
          background-color: white;
          width: 50%;
        }
      
      
      
      
      
      
      

      
      .rentals-about h1,
      .jobs-about h1,
      .community-about h1 {
        margin: 0;
      }
      
      .rentals-about p,
      .jobs-about p,
      .community-about p {
        margin-top: 10px;
      }
      