.rental_details_buttons button,
.view_button {
  margin: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #333;
  transition: background-color 0.3s;
}

.rental_details_buttons button:hover,
.view_button:hover {
  background-color: rgb(127, 177, 190);
  color: white;
}

.rental_detail {
  margin: 3em;
  padding: 2em;
  border: 1px solid grey;
}

.rental_dets_title {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rental_dets_image {
  margin-left: auto;
  margin-right: auto;
}
.rental_dets_image img {
  border-radius: 8px;
}
.details_main_content {
  display: flex;
  flex-direction: column;
}

.important_dets {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.5em;
  justify-content: space-around;
  background-color: rgba(0, 128, 128, 0.163);
}

.rental_dets_description {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 1em;
}

.rental_recs {
  margin-top: 1em;
}

.rental_recs h4 {
  color: rgb(54, 135, 130);
}
