.rental_details_buttons button,
.view_button {
  margin: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #333;
  transition: 0.3s;
}

.rental_details_buttons button:hover,
.view_button:hover {
  background-color: rgb(127, 177, 190);
  color: white;
}

.rental_details {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
  border: 1px solid rgb(175, 175, 175);
  border-style: double;
  border-width: 5px;
  border-radius: 8px;
}

.rental_dets_title {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rental_dets_image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.rental_dets_image img {
  border-radius: 8px;
  height: 28em;
  margin-left: auto;
  margin-right: auto;
}
.details_main_content {
  display: flex;
  flex-direction: column;
}

.important_dets {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.5em;
  justify-content: space-around;
  background-color: rgba(0, 128, 128, 0.163);
  border-radius: 10px;
}

.hr {
  position: right;

  box-shadow: 1px 1px 1px teal;
}

.rental_dets_description {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rental_map,
.rental_map h5 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.rental_recs {
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5em;
}

.rental_recs_h {
  color: rgb(54, 135, 130);
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.suggested {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(157, 156, 156);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 0.7em;
}

.suggested:hover {
  transform: scale(1.03);
  background-color: rgba(0, 128, 128, 0.109);
  cursor: pointer;
}

.suggested_divs {
  text-align: center;
}

.sug_image {
  height: 10em;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.sug_title,
.sug_descrip {
  margin: 10px;
}

.sug_descrip p {
  margin-bottom: 0.5em;
}

.heart_button {
  float: right;
  background-color: none;
}
.heart_button button {
  background-color: white;
}
