.rental_form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: var(--form-padding);
  border: 1px solid #ccc;
  margin-bottom: var(--form-margin-bottom);
  padding-top: 1.4em;
  margin-top: 5em;
  border-radius: 8px;
  background-color: var(--form-color);
}

.rental_edit_title {
  margin-bottom: 1em;
  color: #45a0a0;
  text-align: center;
}

.new_rental_title {
  text-align: center;
  margin-bottom: 20px;

  color: #45a0a0;
}

.rental_form label {
  display: var(--form-label);
  margin-bottom: 1em;
  font-weight: bold;
}

.rental_form input[type="text"] {
  width: 100%;
  padding: 1em;
  border: var(--form-input-border);
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 0.5em;
}

.rental_form input[type="text"]:focus,
.rental_form textarea:focus,
.rental_form input[type="number"]:focus,
.rental_form select:focus {
  outline: none;
  box-shadow: 0 0 0 1px teal;
}

.rental_form textarea {
  width: 100%;
  height: 100px;
  padding: 1.1em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.rental_form button[type="submit"] {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5em;
  padding: 10px 20px;
  background-color: rgb(76, 160, 160);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.rental_form button[type="submit"]:hover {
  background-color: rgb(2, 101, 101);
  transform: translateY(-1.5px);
}
.rental_form select {
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.rental_form [type="number"] {
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.go_back,
.add_image {
  margin-bottom: 0.5em;
  padding: 8px 10px;
  background-color: rgb(125, 188, 188);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add_image {
  display: block;
  width: 14%;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
  float: right;
}

.add_image:hover {
  background-color: rgba(0, 128, 128, 0.7);
  transform: translateY(-1px);
}

.go_back {
  display: grid;
  float: left;
  width: 18%;
  margin-top: 1.8em;
}

.go_back:hover {
  background-color: teal;
  transform: translateY(-1px);
}

.language_select {
  margin-top: 1em;
  margin-bottom: 1em;
}

.image_adder {
  display: block;
  text-align: center;
}

.delete_pic {
  border-style: none;
  background-color: transparent;
  color: black;
  text-shadow: white 1px 1px 1px;
  font-weight: 800;
  font-size: 12px;

  height: 26%;
  margin-left: -13px;
  cursor: pointer;
}

.delete_pic:hover {
  color: red;
}

.image_form_display {
  display: flex;
}

.images_added_form {
  height: 80px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .rental_form label {
    font-size: 12px;
  }
  .rental_form {
    margin-top: 100px;
  }
}

@media (max-width: 968px) {
  .rental_form {
    margin-top: 110px;
  }
}
