.rentals_page {
  padding: 1.5em;
  margin: 1.5em;
  font-family: sans-serif;
}

.rentals {
  display: flex;
  flex-direction: column;
  /* display: grid; */
}

.rentals_title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 80%;
}

.rental {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: solid 1px teal;
  border-radius: 10px;
  box-shadow: 3px 5px 4px rgb(225, 221, 221);
  padding: 0.8em;
}

.rental_image {
  height: 10em;
  border-radius: 8px;
}

.rental_title,
.rental_descrip {
  display: grid;
  justify-content: center;
  align-content: center;
}

.rental_descrip {
  line-height: 2em;
}

.rentals a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

.rentals h3 {
  margin-left: 1em;
  font-size: larger;
}

.rentals_button_container {
  width: 90%;
  display: grid;
  justify-content: right;
}

.rentals_add {
  margin: 10px;
  padding: 0.8em;
  border: 1px solid grey;
  color: white;
  border-radius: 8px;
  background-color: rgb(123, 186, 186);
}

.rental:hover {
  /* background-color: rgb(204, 240, 251); */
  background-color: rgba(85, 195, 195, 0.325);
}

.rental_description {
  margin-right: 1em;
}

@media (max-width: 768px) {
  .rental {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rental_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
  }

  .rental_title,
  .rental_descrip {
    text-align: left;
  }
}
