.rentals_page {
  padding: 1.5em;
  padding-top: 5em;
  margin: 1.5em;
  font-family: sans-serif;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.rentals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

.rentals_title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 1rem;
  font-size: 1.7em;
  color: rgb(47, 48, 49);
  background-image: url("../../Assets/rental-title.png");
  background-repeat: no-repeat;
background-size: 230px;
}

.lang_select {
  padding: 0.5em;
  margin: 1em;
  height: 2.4em;
  border-color: rgb(218, 181, 112);
  border-radius: 4px;
  font-size: medium;
}

.lang_select:focus,
.lang_select:active {
  border-color: orange;
}

.rental {
  display: flex;
  flex-direction: column;
  height: 25em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: solid 1px rgb(202, 176, 179);
  border-radius: 10px;
  box-shadow: 3px 5px 4px rgb(225, 221, 221);

  background: rgb(228, 226, 226);
  overflow: hidden;
  box-sizing: border-box;
}

.rental:hover {
  background: linear-gradient(
    90deg,
    rgba(247, 178, 141, 1) 13%,
    rgba(255, 221, 203, 1) 53%,
    rgba(249, 228, 212, 1) 66%,
    rgba(241, 238, 236, 1) 79%
  );
}
.rental_image {
  height: 16em;
  width: auto;

  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.rental_image:hover {
  transform: scale(1.12);
}

.rental_image_div {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.469);

  overflow: clip;
  height: 15em;
}

.rental_title,
.rental_descrip {
  display: grid;
  justify-content: center;
  align-content: center;

  margin: auto;
}
.rental_title {
  font-size: large;
}

.rental_descrip {
  font-size: 1.05em;
}
.title_add_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.rentals_page_main_container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.rental_descrip {
  line-height: 1.5em;
}

.rentals a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

.rentals h3 {
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  text-align: center;
}

.rentals_button_container {
  display: grid;
  justify-content: right;
}

.bed_info_div {
  display: grid;
}

.bed_info_div p {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.rentals_add {
  margin: 10px;
  margin-top: 0.9em;
  padding: 5px;
  border: 1px solid rgb(242, 162, 82);
  color: rgb(15, 14, 14);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 35px;
  width: 80%;
  height: 50%;
}

.rentals_add:hover {
  transform: translateY(-1.5px);
  background-color: rgb(252, 182, 103);
  border: 1px solid (240, 184, 166) rgb;
}

.rental_description {
  margin-right: 1em;
}

/* media queries */
@media (max-width: 767px) {
  .title_add_container {
    padding: 0px;

    margin-left: -18px;
    width: 110%;
  }

  .rentals_page_main_container {
    width: 75vw;
    padding-top: 4em;
  }

  .rental {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .rentals {
    grid-template-columns: 1fr;
  }

  .rentals_add {
    padding: 0.1em;

    width: auto;
    height: 60%;
  }

  .rental_image {
    display: block;
    height: 22em;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
  }

  .rental_title,
  .rental_descrip {
    text-align: left;
  }

  .rentals h3 {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .rentals_page_main_container {
    width: 70vw;
    padding-top: 6em;
  }

  .title_add_container {
    margin-left: -1.35em;
    margin-right: -1em;
  }

  .rental {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .rentals {
    grid-template-columns: 1fr 1fr;
  }

  .rental_image {
    display: block;
    height: 22em;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
  }

  .rental_title,
  .rental_descrip {
    text-align: left;
  }

  .rentals h3 {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  
  .rentals_title {
  font-size: 1.5em;  }
   
  

}