.background-area-wrapper {
  pointer-events: none;
}

.area {
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #ffffff, #e7e7e9);
  width: 100%;
  height: 100%;
}

.circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: 50px;
  opacity: 0;
}

.circles li img {
  border: solid black 1px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  z-index: 800;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-duration: 12s;
  animation-delay: 5s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
}

.circles li:nth-child(4) {
  left: 70%;
  width: 60px;
  height: 60px;
  animation-duration: 18s;
  animation-delay: 8s;
}

.circles li:nth-child(5) {
  left: 30%;
  width: 20px;
  height: 20px;
  animation-duration: 12s;
  animation-delay: 9s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 9s;
}

/* Korea */
.circles li:nth-child(6) img {
  border: solid black 1px;
}

.circles li:nth-child(7) {
  left: 39%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
}

.circles li:nth-child(8) {
  left: 24%;
  width: 25px;
  height: 25px;
  animation-duration: 15s;
  animation-delay: 0s;
}

.circles li:nth-child(8) img {
  border: solid black 1px;
}
.circles li:nth-child(9) {
  left: 23%;
  width: 15px;
  height: 15px;
  animation-duration: 35s;
  animation-delay: 0s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-duration: 11s;
  animation-delay: 7s;
}

.circles li:nth-child(11) {
  left: 75%;
  width: 40px;
  height: 40px;
  animation-duration: 10s;
  animation-delay: 3s;
}

.circles li:nth-child(12) {
  left: 90%;
  width: 30px;
  height: 30px;
  animation-delay: 8s;
}

.circles li:nth-child(13) {
  left: 60%;
  width: 90px;
  height: 90px;
  animation-duration: 15s;
  animation-delay: 0s;
}

.circles li:nth-child(14) {
  left: 15%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
}

.circles li:nth-child(15) {
  left: 77%;
  width: 70px;
  height: 70px;
  animation-duration: 15s;
  animation-delay: 0s;
}


@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
    border-radius: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px);
    opacity: 0;
    border-radius: 50%;
  }
}

.flag {
  width: 100px;
}
