.resource-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.resource-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resource-card a {
  color: #333;
  text-decoration: none;
}

.resource-card a:hover {
  text-decoration: underline;
}
.resource-title {
  color: #000079;
  text-shadow: rgba(85, 96, 195, 0.325) 2px 5px;
  font-size: 1.5em;
}
