.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 60%;
}

.contact-form {
  font-size: 18px;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
}
.field {
  margin-bottom: 15px;
}

.field:not(:first-of-type) {
  margin: 16px 0;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  padding: 8px;
}

.contact-form label,
[placeholder] {
  color: #555;
}

.contact-form label {
  margin-right: 10px;
  margin-bottom: 6px;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: background 0.3s;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contact-form input:focus,
.textarea:focus {
  /* background: rgba(85, 133, 195, 0.325); */
  box-shadow: none;
  outline: 2px solid rgba(0, 62, 128, 0.765);
}

.contact-form button {
  background: rgb(40, 137, 240);
  padding: 8px 16px;
  margin: 16px 0 50px 0;
  color: white;
  border: var(--button-border);
  min-height: 2.3rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  form {
    max-width: 100%;
  }
}
.textarea {
  min-height: 100px;
  resize: none;
}
