/* .welcome-img{
  width: 50%;
  background-image: url("../../Assets/welcome1white.png");
  background-size: cover;
  height: 800px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
} */

.welcome-page{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0%;
    top: 0%;
    width: 100vw;

}

.welcometext {
  margin-top: 0px;
  font-size: 80px;
  text-align: center;
 
}

.welcome_p {
  font-size: 60px;
  text-align: center;
  justify-content: center;
}

.welcome-btn-div {
  margin-top: 40px;
  margin-left: -90px;
  display: flex;
  justify-content: center;
  
}

.welcome-btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  /* font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  /* position: relative; */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.welcome-btn:hover,
.welcome-btn:focus {
  border-color: rgba(255, 180, 68, 0.97);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(255, 157, 60, 0.956);
}

.welcome-btn:hover {
  transform: translateY(-1px);
}

.welcome-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.doodle1{
  margin-top: 50px;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .doodle1{
    margin-left: 250px;
    position: relative;
  }
}