.welcometext {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
}

.welcome_p {
  font-size: 40px;
  text-align: center;
  justify-content: center;
  color: #b24121;
}

.welcome-btn-div {
  margin-top: 20px;
  margin-left: -100px;
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
}

.welcome-btn {
  align-items: center;
  background-color: #fcaf33;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(252, 254, 255, 0.85);
  cursor: pointer;
  display: inline-flex;
  /* font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 3px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  /* position: relative; */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.welcome-btn:hover,
.welcome-btn:focus {
  border-color: rgba(68, 105, 255, 0.97);
  background-color: #f0f0f1;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(40, 118, 236, 0.956);
}

.welcome-btn:hover {
  transform: translateY(-1px);
}

.welcome-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.doodle1 {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.doodle-img {
  height: 100%;
  margin-top: 3rem;
}

@media (max-width: 1024px) {
  .welcome_p {
    font-size: 2.3rem;
    text-align: center;
    justify-content: center;
  }
  .welcome-btn-div {
    margin-top: 20px;
    margin-left: -90px;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }

  .doodle1 {
    position: relative;
    justify-content: center;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .doodle-img {
    height: 100%;
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .welcome_p {
    font-size: 3.3rem;
    text-align: center;
    justify-content: center;
  }
  .welcome-btn-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }

  .doodle1 {
    position: relative;
    justify-content: center;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .doodle-img {
    height: 100%;
    margin-top: 3rem;
  }
}


@media (max-width: 425px) {
  .welcome_p {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
  }

  .welcome-btn-div {
    margin: 15px;
    display: flex;
    justify-content: center;
  }

  .welcome-btn {
    align-items: center;
    background-color: #fcaf33;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(252, 254, 255, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 1.25;
  }

  .doodle1 {
    display: none;
  }
  .doodle-img {
    height: 100%;
    margin-top: 3rem;
  }
}
