.wrapper-user {
  background-color: #f2eae6;
  height: auto;
  padding-bottom: 2em;
}

.user-profile {
  width: 60%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  flex-direction: column;
}

.profile-header,
.profile-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
  background-color: #b7c8c6;
  margin-bottom: 1em;
  float: right;
  padding: 1.5em;
}

.profile-header {
  border-radius: 7px;

  width: 75%;
  padding: 2em;
}

.user-container {
  /* display: grid;
    grid-template-columns: 2fr 4fr; */
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 100%;
  padding: 1em;
}
.user-avatar {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.503);
  border-style: double;
  border-width: 5px;
}
.userjob {
  margin-top: 1em;
  padding: 1em;
  width: 90%;
}

.favorites {
  margin-top: 1em;
  border-top: 1px gray solid;
  padding: 1em;
}

.user-job-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 820px) {
  .wrapper-user {
    padding-top: 5em;
  }

  .user-profile {
    width: auto;
  }

  .user-avatar {
    height: 12em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-header h2 {
    font-size: large;
    width: 120%;
  }

  .favorites_container {
    overflow-x: scroll;
  }

  .user-container {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
}
