*,
*:before,
*:after {
  box-sizing: border-box;
}

.jobForm {
  display: flex;
  border: 1px solid rgba(85, 133, 195, 0.325);
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--form-color);
  border-radius: 8px;
  padding: var(--form-padding);
  margin-bottom: var(--form-margin-bottom);
}
.form-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: auto;
}
.jobForm label {
  display: var(--form-label);
  width: var(--form-input-width);
  font-weight: bold;
  margin-bottom: 8px;
}

.jobForm input,
.jobForm textarea,
.jobForm select {
  width: 100%;
  padding: 8px;
  border: var(--form-input-border);
  border-radius: var(--form-input-border-radius);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.jobForm textarea {
  resize: none;
  height: 100px;
  font-family: sans-serif;
}
.form-button-container {
  justify-content: space-between;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; */
}
.button_edit {
  align-items: center;
  background-color: rgb(74, 110, 222);
  border: var(--button-border);
  border-radius: 0.25rem;
  box-shadow: rgba(85, 133, 195, 0.325) 2px 5px 0 1px 3px 0;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 19px;
  font-weight: var(--button-font-weight);
  justify-content: center;
  line-height: 0.5;
  margin-top: 20px;
  min-height: 2.3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 6rem;
}
.jobForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(74, 110, 222);
  text-shadow: rgba(85, 133, 195, 0.325) 2px 5px;
}
.button_edit:hover {
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-box-shadow);
  color: var(--button-hover-color);
}

@media (max-width: 768px) {
  .jobForm label {
    font-size: 12px;
  }
  .jobForm {
    margin-top: 100px;
  }
}
@media (max-width: 968px) {
  .jobForm {
    margin-top: 110px;
  }
  .button_edit {
    font-size: 16px;
    padding: 10px 14px;
    min-height: 2rem;
  }
}
