*,
*:before,
*:after {
  box-sizing: border-box;
}

h4 {
  /* color: #f0a500; */
}

.jobForm {
  display: flex;
  flex-direction: column;
  max-width: var(--form-width);

  margin: 0 auto;
  padding: var(--form-padding);
  background-color: var(--form-color);
  border-radius: 8px;
  margin-bottom: var(--form-margin-bottom);
}

.jobForm label {
  display: var(--form-label);
  width: var(--form-input-width);
  font-weight: bold;
}

.jobForm input,
.jobForm textarea,
.jobForm select {
  width: 100%;
  padding: 8px;
  border: var(--form-input-border);
  border-radius: var(--form-input-border-radius);
  box-sizing: border-box;
}

.jobForm textarea {
  resize: none;
  height: 100px;
  font-family: sans-serif;
}
.form-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.button_edit {
  align-items: center;
  background-color: rgb(74, 110, 222);
  border: var(--button-border);
  border-radius: 0.25rem;
  box-shadow: rgba(85, 133, 195, 0.325) 2px 5px 0 1px 3px 0;
  /* box-sizing: border-box; */
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 19px;
  font-weight: var(--button-font-weight);
  justify-content: center;
  line-height: 0.5;
  margin-top: 20px;
  min-height: 2.3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.jobForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(74, 110, 222);
  text-shadow: rgba(85, 133, 195, 0.325) 2px 5px;
}
.button_edit:hover {
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-box-shadow);
  color: var(--button-hover-color);
}
