.job-container {
  display: grid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 1em;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  grid-column-gap: 1em;
  border: solid 1px teal;
}
.job-container:hover {
  background-color: salmon;
}

.left-section {
  width: 33%;
}
.left-section h2:hover {
  /* color: salmon; */
}

.right-section {
  text-align: center;
  padding: 5px;
}

.link {
  text-decoration: none;
  color: #333333;
}

.company {
  font-weight: bold;
}

.date {
  margin-bottom: 10px;
}
.job-page {
  padding: 1.5em;
  margin: 1.5em;
}
.jobs-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.jobs-title button {
  padding: 8px 16px;
  background-color: salmon;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 55em;
  margin-right: auto;
}
.jobs-title button:hover {
  background-color: rgb(250, 116, 102);
}
@media (max-width: 768px) {
  .job-container {
    grid-template-columns: 1fr 2fr;
  }

  .right-section {
    text-align: left;
  }
}
