.job-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.map-container {
  border: 2px solid black;
  position: absolute;
  top: 155px;
  right: 60px;
  width: 210px;
  height: 210px;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0px 3px 8px rgba(18, 18, 18, 0.1);
  z-index: 1;
  /* Change the index to place map behind header */
}

.job-page {
  display: flex;
  height: 100vh;
}

.left-aside {
  border: 2px solid blue;
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 10px 0 0;
}

.job-details-body {
 /* margin-top: 100px; */
  margin: 10px;
  background-color: rgb(247, 246, 244);
  border: 2px solid green;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  gap: 20px;
  /* z-index: -100; */
}
/* title */
.job-title {
  font-size: 2rem;
}
.job-details-body p {
  margin-bottom: 10px;
}

.job-details-body .delete-button {
  margin-top: 20px;
}

.job-details-body .delete-button button {
  margin-right: 10px;
}

.button button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #333;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: orange;
  color: #fff;
}

/*  */
