.job-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* padding: 200px; */
}
.map-container {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 200px;
  /* height: 200px; */
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.job-page {
  display: flex;
  height: 100vh;
}

.left-aside {
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

.job-details-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
}

.job-details-body p {
  margin-bottom: 10px;
}

.job-details-body .delete-button {
  margin-top: 20px;
}

/* Additional styling for the delete button if needed */
.job-details-body .delete-button button {
  margin-right: 10px;
}

/* Delete Btn */
.button button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  /* background-color: #f2f2f2; */
  color: #333;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: orange;
  color: #fff;
}
