.page-container {
  border: 2px solid black;
  padding: 10px;
}
.left-aside {
  border: 2px solid red;
}
.middle {
  border: 2px solid blue;
}
.right-aside {
  border: 2px solid orangered;
}
/*  */
/* .page-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

.left-aside,
.job-details-body,
.right-aside {
  padding: 20px;
  background-color: #f5f5f5;
}

.left-aside {
  grid-column: 1;
}

.job-details-body {
  grid-column: 2;
  border: rgb(175, 175, 175);
}

.right-aside {
  grid-column: 3;
}

.rec {
  margin-bottom: 10px;
}

.p1 {
  margin-top: 20px;
}

.date {
  font-style: italic;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.company {
  font-weight: bold;
  margin-bottom: 10px;
}
.salary {
  margin-bottom: 10px;
}

.email,
.location,
.job-type {
  margin-bottom: 10px;
}
.description {
  margin-bottom: 10px;
.native-language,
.skills,
.requirements {
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
}

.button button {
  margin-right: 10px;
}

.bottom {
  margin-top: 20px;
}

.map-container {
  width: 60vw;
} */

/* button */
.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 30vw;
}
.button {
  background: rgb(74, 110, 222);
  color: #f5f5f5;
  box-shadow: var(--button-box-shadow);
  border: var(--button-border);
  /* z-index: 1; */
  position: relative;
  border-radius: var(--button-radius);
  padding: 1em 0;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--button-cursor);
}

.button:hover {
  box-shadow: var(--button-hover-box-shadow);
  transform: var(--button-hover-transform);
}
