

#container {
  margin: auto;
  /* height: 450pt; */
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  display: inline-block;
  top:15%;
    left: 50%;
  font-size: 50pt;
  text-align: center;
  user-select: none;
  margin-top: 80px;
  transform: translate(-50%, -50%);

}
