.welcome-img{
    width: 100%;
    display: flex;
    /* background-image: url("../../Assets/welcome1white.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
  }