.welcome-img {
  width: 105%;
  display: flex;
  justify-content: right;
}
.welcome-doodle {
  width: 5%;
  margin-top: 300px;
  margin-left: 0%;
  margin-right: 0%;
  height: 200px;
  width: 200px;
}
.welcome-image-container {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}
.people-image-container {
  object-fit: cover;
}

.welcome-doodle-container{
  display: flex;
}

@media (max-width: 480px) {
  .people-image-container {
    object-fit: cover;
  }
  .welcome-img {
    width: 100%;
  }
  .welcome-doodle {
   display: none;
  }
  .welcome-image-container {
    display: flex;
    flex-direction: row;
  }
}


@media (max-width: 767px) {
  .welcome-doodle {
    display: none;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-doodle {
    display: none;
   }
}
