.btn {
  align-items: center;
  /* background-color: #1961fb; */
  border-color: rgba(249, 126, 3, 0.952);
  background-color: rgb(249, 247, 243);

  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: rgb(244, 137, 44);
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
  line-height: 0.5;
  margin-top: 20px;
  min-height: 2.3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; */
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
  /* background-color: rgb(249, 247, 243); */
  background-color: #1961fb;
border: #f0f0f1;
  color: #fcfcfc;
  font-size: larger;
}

.btn:active {
  background-color: #f0f0f1;
  /* border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65); */
  transform: translateY(0);
}

@media screen and (max-width: 960px) {
  .btn {
    display: flex;
    align-items: center;
    margin: 0;
  }
}
